# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/helena_fit?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRES_IN="7d"

# Telegram Bot
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"

# Server
PORT=3000
NODE_ENV=development

# Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=10485760

# Frontend URLs
TELEGRAM_APP_URL="http://localhost:5173"
ADMIN_PANEL_URL="http://localhost:5174"

# Payme
PAYME_MERCHANT_ID="68c7b7859ac2828cbcccc4ed"
PAYME_TEST_KEY="q%#9mdaAId9tsNVR9Nfe27PdP@Rqys62DK76"
PAYME_PROD_KEY="m1k%&o0dXhJabWM@5?kz7aS3TIs7y#%nXJ#q"
PAYME_ENDPOINT="https://checkout.paycom.uz"
PAYME_CALLBACK_URL="http://localhost:3000/api/payme/callback"
